.main {
  width: 1200px;
}

.table {
  background-color: green;
  height: 600px;
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
  border: 1em solid black;
}

.boardMe {
  position: relative;
  top: 10%;
  left: 45%;
}

.boardYou {
  position: relative;
  top: 70%;
  left: 31%;
}
.card-small {
  border: .2em solid black;
  border-radius: 10%;
  height: 80px;
  width: 56px; /*70% of height*/
  margin-right: 5px;
  float: left;
  background-color: white;
 }


.card-text {
  margin: 0;
  margin-top: 15%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
}

.card-img {
  text-align: center;
  margin: 0;
  font-size: 2em;
}
